<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openrun.core.mapper.user.SigninMapper">

<select id="findByEmail" resultType="com.openrun.core.domain.user.User" parameterType="String">
    SELECT * FROM users WHERE email = #{email}
</select>

<select id="findById" resultType="com.openrun.core.domain.user.User" parameterType="Long">
    SELECT * FROM users WHERE id = #{id}
</select>

</mapper>
