body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.section h2 {
  margin-top: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section h2 button {
  background: none;
  border: 1px solid #f56a5a;
  color: #f56a5a;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
ul li:last-child {
  border-bottom: none;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.image-grid img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.signup-text {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.divider {
  text-align: center;
  margin: 5px 0;
  color: #888;
  font-size: 12px;
}

.social-login.naver {
  background-color: #1ec800;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
